################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/agr vai/AgroScan/AgroScan/obj
/.vs/AgroScan/FileContentIndex
/.vs/AgroScan/v17
/.vs/ProjectSettings.json
/.vs
/agr vai/AgroScan/.vs/AgroScan/FileContentIndex
/agr vai/AgroScan/AgroScan/appsettings.json
/agr vai/AgroScan/AgroScan/bin/Debug/net8.0
