################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/agr vai/AgroScan/AgroScan/obj
/.vs/AgroScan/FileContentIndex
/.vs/AgroScan/v17
/.vs/ProjectSettings.json
/.vs
